[submodule "include/argparse"]
	path = include/argparse
	url = https://github.com/jamolnng/argparse.git
[submodule "include/nlohmann"]
	path = include/nlohmann
	url = https://github.com/nlohmann/json.git
